<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">logs/application-${date:yyyy-MM-dd_HH-mm-ss}.log</Property>
    </Properties>
    <Appenders>
        <!-- File Appender -->
        <File name="File-Appender" fileName="${log-path}">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <!-- Hibernate-specific Loggers -->
        <Logger name="org.hibernate" level="info" additivity="false">
            <AppenderRef ref="File-Appender"/>
        </Logger>
        <Logger name="org.hibernate.SQL" level="info" additivity="false">
            <AppenderRef ref="File-Appender"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql" level="info" additivity="false">
            <AppenderRef ref="File-Appender"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="File-Appender"/>
        </Root>
    </Loggers>
</Configuration>
